<h1>New Comment</h1>
<%= form_with(model: [current_user, Comment.new], url: create_comment_path(current_user), local: true) do |form| %>
  <%= form.label :Comment %>
  <%= form.text_area :text, rows: 4 %>
  <%= form.submit 'Add Comment' %>
<% end %>
