<div class="Users-list">
  <% @users.each do |user| %>
    <div class="User-item">
      <img src="<%= user.photo %>" alt="userPhoto" >
      <%= user_details_for(user) %>
    </div>
  <% end %>
</div>
