<div class="User-profile">
  <% if @user %>
    <div class="User-info">
      <img src="<%= @user.photo %>" alt="userPhoto">
      <div>
        <h2><%= @user.name %></h2>
        <p>Number of posts: <%= @user.posts_counter %></p>
      </div>
    </div>
  <% else %>
    <p>User not found.</p>
  <% end %>
</div>
