<html>
<head>
</head>
<body>
  <div class="Post-container">
    <%= render 'shared/user_card', user: @user %>

    <%= render 'posts_display' %>

    <div class="User-actions">
      <%= button_to "Go Back", user_path(@user), method: :get, class: "Go-back-button" %>
      <%= button_to 'New Post', new_user_post_path, method: :get, class: "Submit-button" %>
    </div>
  </div>
</body>
</html>
