<html>
<head>
</head>

<body>
  <div class="Page-container">
    <%= render 'post_card' %>

    <%= render_comments_section(@post) %>

    <div class="User-actions">
      <%= button_to "Go Back", user_posts_path(current_user), method: :get, class: "Go-back-button" %>
      <%= button_to 'New Comment', new_comment_path, method: :get, class: "Submit-button" %>
    </div>
  </div>
</body>
</html>
